/*body css*/
body{
  margin:0;
  padding: 0;
  background-color: #ffc5a1;
}

/*ul
ul{
  list-style-type: none;
}
*/
/*main container*/
.main-container{
  width:800px;
  margin: 0 auto 0 auto;
  background-color: #b0f4e6;
  padding-bottom: 10px;
}

/*sub container 1*/
.sub-container-1{
  width:750px;
  height:200px;
  background-color: #67eaca;
  margin: 0 auto 0 auto;
  position: relative;
  top: 10px;
}

/*profile picture*/
.pro-pic{
  display: inline-block;
  width:200px;
  height:180px;
  background-color: #009975;
  position: relative;
  top:10px;
  left:10px;
  overflow: hidden;
}

.pic{
  width:250px;
  height:300px;
}

/*slogan*/
.slogan{
  width:520px;
  height: 180px;
  background-color: #58b368;
  float: right;
  position: relative;
  top: 10px;
  right: 10px;
  overflow: hidden;
}

/*profile name*/
.pro-name{
  position: absolute;
  top: 130px;
  right:5px;
  width:250px;
  height: 50px;
  opacity: 0.8;
  font-family: 'Lobster', cursive;
  font-weight: bolder;
  font-size: 40px;
  color: #fff8a6;
}

/*sub container 2*/
.sub-container-2{
  width:750px;
  height:550px;
  background-color: #67eaca;
  margin: 0 auto 0 auto;
  position: relative;
  top: 3px;
}

/*foot*/
.foot{
  width:750px;
  text-align: center;
  padding: 10px;
  background-color: #ff82c3;
  margin: 0 auto 0 auto;
  position: relative;
  top: 10px;
  font-family: 'ZCOOL KuaiLe', cursive;
}

/*biography*/
.bio{
  position: absolute;
  top:5px;
  right:5px;
  width: 520px;
  height: 540px;
  background-color: #ffeafe;
  z-index: 2;
}

/*education*/
.education{
  position: absolute;
  top:5px;
  right:5px;
  width: 520px;
  height: 540px;
  background-color: #ffeafe;
}

/*work*/
.work{
  position: absolute;
  top:5px;
  right:5px;
  width: 520px;
  height: 540px;
  background-color: #ffeafe;
  z-index: -1;
}

/*contact*/
.contact{
  position: absolute;
  top:5px;
  right:5px;
  width: 520px;
  height: 540px;
  background-color: #ffeafe;
}

/*nav*/
.nav ul{
  list-style-type: none;
}

.nav ul li{
  width: 150px;
  padding: 10px 10px 5px 2px;
  border-bottom: solid black;
}

.nav ul li a{
  text-decoration: none;
}

.nav ul li a:hover{
  margin-left: 10px;
}
